<app-header></app-header>
<br>
<div class="header">
    <h1>Home</h1>
    <br>
    <p >{{homeContent}}</p>
    <br>
  </div>
    <div class="postarea" *ngIf="posts.length > 0">
        <div class="main-posts" >
            <div class="post-container" *ngFor=" let post of posts">
                <h3><a [routerLink]="['/posts', post._id]">{{post.title}}</a></h3>
                <hr>
                <p>{{post.content.substring(0,650)}}
                    <a *ngIf="post.content.length > 650" [routerLink]="['/posts', post._id]">Read More</a>
                </p>
                <div class="vote-btn">
                    <button class="up-btn" type="button" (click)="onUpvote(post)"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"/></svg></button>
                    <button class="down-btn" type="button" (click)="onDownvote(post)"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg></button>
                    <span class="likes">{{post.likes}}</span>
                    <button class="comment" (click)="toggleDisplay(); loadComment(post._id);"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z"/></svg></button>
                  </div>
                  <div class="comment-container" [hidden]="isShow">
                    <h3>Comments</h3>
                    <div class="mini-comment">
                      <p>hello</p>
                      <p>nice story</p>
                      <p>good</p>
                  </div>
                  </div>
                    
            </div>
        </div>
    </div>

<app-footer></app-footer>